@charset "UTF-8";
/* =====BASE===== */ /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* =====VARIABLES===== */
/* =====VARIABLES===== */
html {
  font-size: 10px;
}

.page {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 972px;
  padding: 0 15px;
  margin: 0 auto;
}

/* =====MIXINS===== */ /*=====connect the fonts=====*/
/* =====FONTS===== */
/* 
@include font($font-family, $font, $font-weight, $font-style)
*/
body {
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.woff2"), url("../fonts/BebasNeue.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* =====COMPONENTS===== */
.logo {
  display: inline-block;
}

.section-title {
  position: relative;
  display: block;
  min-width: 20rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.23rem;
  text-align: center;
  text-transform: uppercase;
}
.section-title:after {
  content: "";
  display: inline-block;
  background-color: #00a4e5;
  width: 5rem;
  height: 0.2rem;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* =====UTILITIES===== */
/* ======SECTIONS====== */
.header__banner {
  background: url("../img/header/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.1rem 0rem 7.1rem;
}

.header__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-bottom: 31.7rem;
}

.header__title {
  font-family: "BebasNeue", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.67rem;
  line-height: 6.6rem;
}

.header__title,
.header__descr {
  text-align: center;
  color: #ffffff;
}

.header__descr {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  margin-bottom: 13.2rem;
}

.header__line {
  display: block;
  background-color: #c4c4c4;
  width: 100%;
  height: 1.1rem;
  margin-bottom: 8rem;
}

.header__scroll {
  font-weight: 600;
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  border-bottom: 2px solid #c4c4c4;
}

.nav {
  padding: 2.5rem 0;
}

.nav__logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 4.8rem;
}

.nav__item {
  margin: 0 -2rem;
}

.nav__link {
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 2rem;
}
.nav__link:link, .nav__link:visited {
  color: #48555b;
}
.nav__link:hover {
  color: #00a4e5;
}

@media (max-width: 692px) {
  .nav__link {
    padding: 1rem;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 6px;
  }
}
.our-story {
  padding: 4.8rem 0 12.7rem;
}

.our-story__title {
  margin: 0 auto;
  margin-bottom: 8rem;
}

.our-story__body {
  display: flex;
  justify-content: space-between;
}

.our-story__txt-wrapper {
  max-width: 40.5rem;
}

.our-story__strong-txt {
  font-size: 2rem;
  line-height: 2.34rem;
  letter-spacing: 0.02rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.accent-color {
  color: #00a4e5;
}

.our-story__txt {
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: 0.2rem;
}

.our-story__cards-list {
  display: flex;
  height: 100%;
  align-items: flex-end;
  gap: 2rem;
}

.our-story__card {
  width: 14rem;
  height: 22.4rem;
  padding: 1.5rem 1.4rem;
}

.our-story__card-descr {
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
}

@media (max-width: 930px) {
  .our-story__body,
  .our-story__cards-list {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .our-story__card {
    width: 40.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */